# 社员等级评估

> 使用支持向量机算法对社员等级进行评估

In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore')

### 提取可用的数据

In [62]:
data=pd.read_excel('../File/output/社团人员.xlsx')
data=data[['姓名','count']]
data

      姓名  count
0    王鹏宇     33
1     周漠     33
2    赵伟博     32
3    张晓芳     31
4    介丹阳     30
..   ...    ...
169  任国鹏      1
170  高铭轩      1
171  于倩倩      1
172  秦邵斌      1
173   康晋      1

[174 rows x 2 columns]

### 对数据进行标准化并根据count属性添加类别标签

In [63]:
data = pd.get_dummies(data)
data['类别']=pd.cut(data['count'],[0,5,10,20,50],labels=['D','C','B','A'])
data

,count,姓名_ 荀馨玉,姓名_于倩倩,姓名_于雲达,姓名_亢雅静,姓名_介丹阳,姓名_任国鹏,姓名_何少冲,姓名_余鑫,姓名_冯清萍,...,姓名_马美云,姓名_马锋,姓名_高云锦,姓名_高健,姓名_高敏,姓名_高瑞,姓名_高铭轩,姓名_高铭遠,姓名_魏珀城,类别
0,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,A
1,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,A
2,32,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,A
3,31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,A
4,30,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,D
170,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,D
171,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D
172,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D
173,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D

### 将添加的类别使用支持向量机进行评估

In [85]:
ry_data=data.iloc[:,:-1]
ry_target=data.iloc[:,-1]

ry_data_train,ry_data_test,ry_target_train,ry_target_test= \
    train_test_split(ry_data,ry_target,test_size=0.2,random_state=15)

stdScale=StandardScaler().fit(ry_data_train)
ry_trainScaler=stdScale.transform(ry_data_train)
ry_testScaler=stdScale.transform(ry_data_test)

svm=SVC().fit(ry_trainScaler,ry_target_train)

ry_pred=svm.predict(ry_testScaler)
print('评估的前20个结果为：\n',ry_pred[:20])

评估的前20个结果为：
 ['D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D' 'D'
 'D' 'D']

### 求出评估的准确率

In [88]:
true=np.sum(ry_pred==ry_target_test)
print('评估结果的准确率为：',true/ry_target_test.shape[0])
from sklearn.metrics import accuracy_score
soure=accuracy_score(ry_pred,ry_target_test)
print('评估结果的准确率为：',soure)

评估结果的准确率为： 0.6
评估结果的准确率为： 0.6

### 用向量机评估出分类的报告

In [87]:
from sklearn.metrics import classification_report
print('使用向量机评估社团人员类别的分类报告为：','\n',classification_report(ry_target_test,ry_pred))

使用向量机评估社团人员类别的分类报告为：
               precision    recall  f1-score   support

           A       1.00      0.14      0.25         7
           B       0.00      0.00      0.00         4
           C       0.00      0.00      0.00         4
           D       0.59      1.00      0.74        20

    accuracy                           0.60        35
   macro avg       0.40      0.29      0.25        35
weighted avg       0.54      0.60      0.47        35